:root{
    --primary-color:#000;
    --secondary-color:#6b6666;
    --primary-font:arial;
    --secondary-font:
}

body{padding: 0;margin: 0;}
.container{height:100vh;}
.alignCenter{align-items:center;}
.flex{display: flex;}
.dtDay.city.state.dtMinute.weather{font-family: 'Times New Roman', Times, serif;}
.flex1{flex:1;}
.appName{height: 100vh; display: flex; align-items: center; justify-content: center;background: #1890f0;}
.flex1 .appName span{color:whitesmoke;}
.bgColor{background:blue;}
.heading{align-items: center;}
.headingColor{color:white;}
h1{font-size: 50px;}
.title{font-size: 32px;color: black;margin: 20px;padding: 15px;}
.title .dateAndTime{font-size: 20px;margin: 2px;padding: 15px;position: relative;}
button{size: 1px;}
.conversion{padding: 40px;}
.weatherSec{padding: 40px;}
h3{display: inline-block;}
.degreeSec{display: flex;}
.degreeSec .dsDegree{margin-right: 5px;}
.degreeSec .convCelsius, .degreeSec .convFahranheit{cursor: pointer;font-size: 20px; margin: 5px; margin-top: 20px;color:var(--secondary-color);}

.inputBox{
    width: 300px;
    height: 3em;
    font-size: 1em;
    padding-left: 15px;
    padding-right: 10px;
}

.searchButton{
    border-radius: 4px;
    width:8em;
    height: 3.4em;
    background: transparent;
}

.userArea{
    padding: 15px;
    padding-top: 10%;
}

.DateTime{
    padding-left:15px;
    padding-top: 15%;
    color:var(--secondary-color);
    font-family: var(--primary-font);
    line-height: 1.4;
}

.dsDegree{
    padding-left: 15px;
    line-height: 2;
    font-size: 3.5em;
    color:var(--primary-color)
}
.line{
    margin-top: 20px;
    color:var(--secondary-color);
}

/* .mainAlign{
    padding-left: 10%;
} */
@media screen and (max-width: 768px) {
    .appName{height: auto;
        display: block;
        align-items: unset;
        justify-content: unset;
        text-align: center;
    }
    .flex{
        display: block;
    }
    .container {
        height: auto;
    }
    .inputBox{
        width: 100%;
        margin-bottom: 20px;
    }

}